body {
  background-color: teal;
}
h1 {
  border: 10px solid white;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

h2 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.LoopFields {
  border: 3px solid black, 50%;
  background-color: gray;
}
